*{
    background-color: rgb(203, 234, 228);
}

.parent{
    border: 2px solid black;

    /* gird properties */
    display: grid;
    grid-template-rows: repeat(4, 130px);
    grid-template-columns: repeat(5, 150px) ;
    grid-gap: 10px;
}

.child{
    border: 2px dotted black;
} 

#child-1{
    grid-row-start: 1;
    grid-row-end: -1;
}

#child-6{
    grid-row: 5/4;
    /* grid-column-start: 5;
    grid-column-end: 4; */

    grid-row: 2/3;
}